#footer {
    padding: 4rem 0 2rem;
    background-color: #373737;

    .footer-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    .footer-logo {
        order: 2;
        flex-shrink: 0;
    }
    .footer-logo-list {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .footer-sns-list {
        display: flex;
        gap: 1rem;
    }
    .footer-addr {
        margin-top: 3rem;
        line-height: 1.6;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 300;

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                &:not(:last-child) {
                    margin-right: 0.5rem;
                }
            }
        }
    }
    .footer-bottom {
        padding-top: 2rem;
        margin-top: 2rem;
        border-top: 1px solid #f7faff;

        ul {
            margin-bottom: 1rem;

            a {
                color: #fff;
                font-size: 1.4rem;
                letter-spacing: -0.05rem;
            }
        }
    }
    .copyright {
        line-height: 1.3;
        color: #8c8c8c;
        font-size: 1.6rem;
    }
}
@media (max-width: 768px) {
    #footer {
        
        .footer-top {
            flex-direction: column;
        }
        .footer-logo {
            order: 0;
        }
        .copyright {
            text-align: center;
        }
        .footer-util {
            display: flex;
            flex-direction: column;
        }
        .footer-sns {
            order: 2;
            margin-top: 2rem;
        }
        
    }
}
@media (max-width: 640px) {
    #footer {
        .footer-logo-list {
            width: 20rem;
        }
        .footer-sns {
            display: flex;
            justify-content: center;
        }
        .footer-sns-list {
            img {
                width: 2.4rem;
            }
        }
        .footer-addr {
            margin-top: 2rem;
            font-size: 1.4rem;
        }
        .footer-bottom {
            ul {
                a {
                    font-size: 1.2rem;
                }
            }
        }
        .copyright {
            font-size: 1.2rem;
        }
    }
}