html.loaded #header {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    animation: slideDown 1s ease forwards;
    animation-delay: 0.5s;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    z-index: 999;
    letter-spacing: -0.01em;
    line-height: 1;  
    
    &.fixed {
        .header-wrapper {
            background-color: #fff;
            border-bottom-color:#e5e5e5;
            transition: all 0.35s ease;
        }
        .header-logo img.black {
            opacity: 1;            
        }
        .gnb-1depth {
            > a {
                color: #222;
            }
        }
        .header-units {
            .btn {
                color: #222;                
                
                .svg-icon {
                    background-color: #222;
                    transition: all 0.35s ease;
                }
            }
        }
    }
    &.dark {
        .header-wrapper {
            background-color: #fff;
        }
        .header-logo img.black {
            opacity: 1;            
        }
        .gnb-1depth {
            > a {
                color: #222;
            }
        }
        .header-units {
            .btn {
                color: #222;

                .svg-icon {
                    background-color: #222;
                }
            }
            
        }
    }

    &.open {
        
        #gnb {            
            visibility: visible;
            transform: translate3d(0px, 0px, 0);
            z-index: 3;
            
            .gnb-list-wrap {
                transition: all 0.35s ease;
                opacity: 1;
            }            
        }
        .header-units {
            li {

                &.header-units-mobile {

                    .svg-icon {
                        background-color: #222;

                        &.default {
                            opacity: 0;
                        }

                        &.close {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .gnb-list {
            flex-direction: column;
            margin-top: 7.2rem;

            > li {
                border-bottom: 1px solid #e5e5e5;

                &::before {
                    content: none;
                }    
            }
        }
        .gnb-1depth {
            display: block;
            height: auto;

            > a {
                display: block;
                padding: 2rem 4rem;
                color: #222;
                font-size: 2rem;
            }
        }
        .gnb-2depth {
            position: static;
            text-align: left;
            padding: 0 6rem 2rem;
            opacity: 1;
            visibility: visible;
            box-shadow: none;
        }
        .gnb-2depth-list {
            > li {
                display: block;            

                > a {
                    display: block;
                    padding: 1rem;

                    span {
                        
                        &::before {
                            content: '-';
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }
        @media (max-width: 640px) {
            .gnb-1depth {

                > a {
                    padding: 1.5rem 2rem;
                    font-size: 1.8rem;
                }
            }
            .gnb-2depth {
                padding: 0 3rem 1.5rem;
            }
        }
    }

    .header-wrapper {
        height: 10.4rem;
        padding: 0 4rem;
        background-color: transparent;
        border-bottom: 1px solid transparent;
        transition: all 0.35s ease;
    }

    .header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    .header-logo {
        position: relative;
        z-index: 2;
        width: 36.4rem;

        img {
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);            
            opacity: 0;

            &.white {
                position: static;
                transform: none;
                opacity: 1;
            }
        }
    }
    .header-units {
        display: flex;
        position: relative;

        > li {
            &:not(:first-child) {
                margin-left: 1.6rem;
            }
            &.header-units-mobile {
                display: none;
                z-index: 10;
            }
        }
        .btn {
            height: 100%;
            color: #fff;
        }
    }
    
    .gnb-list {
        display: flex;

        > li {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 0;
                height: 2px;
                background-color: #f37321;
                transition: 350ms ease;
                transition-property: width, left;
            }

            &:hover {
                &::before {
                    width: 100%;
                    left: 0;
                }                    
            }           
        }
    }
    .gnb-1depth {
        display: flex;
        align-items: center;
        height: 10.4rem;
        position: relative;

        > a {
            padding: 0.5rem 4rem;
            white-space: nowrap;
            color: #fff;
            font-size: 2.4rem;
        }

        &:hover {
            ~ .gnb-2depth {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .gnb-2depth {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        text-align: center;
        padding: 2em 0;
        opacity: 0;
        visibility: hidden;
        isolation: isolate;
        transition: all 0.35s;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
    }
    .gnb-2depth-list {
        > li {
            display: block;            

            > a {
                display: block;
                padding: 0.8rem;
                letter-spacing: -0.01em;
                color: #222222;
                font-size: 1.6rem;

                span {
                    background-image: linear-gradient(transparent calc(100% - 1px), #222222 1px);
                    background-repeat: no-repeat;
                    background-size: 0% 100%;
                    transition: background-size 0.35s;
                }
                
                &:hover {
                    span {
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }
    @media (max-width: 1380px) {
         .header-wrapper {
            padding: 0 2rem;
        }
        #gnb {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            background-color: #FFFFFF;
            box-sizing: border-box;
            visibility: hidden;
            transform: translate3d(100vw, 0px, 0);
            transition: all 0.35s ease;

            .gnb-list-wrap {
                height: 100dvh;
                overflow-y: scroll;                
                opacity: 0;
            }
        }
        .header-units {
            li {
                display: none;

                &.header-units-mobile {
                    display: block;
                    margin-left: 0;

                    .svg-icon {
                        width: 3.4rem;
                        height: 3.4rem;
                        transition: all 0.35s ease;

                        &.close {
                            position: absolute;
                            top: 0;
                            left: 0;
                            opacity: 0;
                        }
                    }

                    
                }
            }
        }
    
    }
    @media (max-width: 1024px) {
        .header-logo {
            width: 30rem;
        }
    }
    @media (max-width: 640px) {
        .header-wrapper {
            height: 7.2rem;
            padding: 0 1rem;
        } 
        .header-logo {
            width: 18rem;
        }
    }

}


