.mt10 {margin-top: 1rem;}
.mt20 {margin-top: 2rem;}
.mt40 {margin-top: 4rem;}
.mt60 {margin-top: 6rem;}
.mb10 {margin-bottom: 1rem;}
.mb20 {margin-bottom: 2rem;}
.tct {text-align: center;}
.trt {text-align: right;}
.txt-box {padding: 1rem; background-color: #f7f7f7; border: 1px solid #ddd; border-radius: 1rem;}
.fc-orange {color: #f9943a !important;}
.fc-black {color: #222222 !important;}
.fc-green {color: #218030 !important;}
.fc-green02 {color: #31b62d !important;}
.fc-blue {color: #3380c6 !important;}
.fc-blue02 {color: #003882 !important;}
.fc-purple {color: #4f4492 !important;}
.fc-purple02 {color: #a459c8 !important;}
.fc-mint {color: #06a6aa !important;}
.fc-pink {color: #d04c54 !important;}
.container-lg {
    max-width: 122rem;
    padding: 0 1rem;
    margin: 0 auto;

    @media (max-width: 640px) {
        padding: 0 2rem;
    }
}
html body.scroll-hide {
    overflow: hidden;
    height: 100%;
}
html.loaded #main .main-tit-box {
    opacity: 0;
    visibility: hidden;
    animation: slideUp 1s ease forwards;
    animation-delay: 0.5s;
}
html.loaded #main .main-menu-wrap {
    opacity: 0;
    visibility: hidden;
    animation: slideUp02 1s ease forwards;
    animation-delay: 0.7s;
}
