.mt20 {margin-top: 2rem;}
.mt40 {margin-top: 4rem;}
.mt60 {margin-top: 6rem;}
.container-lg {
    max-width: 122rem;
    padding: 0 1rem;
    margin: 0 auto;
}
html body.scroll-hide {
    overflow: hidden;
    height: 100%;
}
html.loaded #main .main-tit-box {
    opacity: 0;
    visibility: hidden;
    animation: slideUp 1s ease forwards;
    animation-delay: 0.5s;
}
html.loaded #main .main-menu-wrap {
    opacity: 0;
    visibility: hidden;
    animation: slideUp02 1s ease forwards;
    animation-delay: 0.7s;
}
