@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  word-wrap: break-word;
  word-break: keep-all;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Focus outline handling for accessibility */
button:focus, input:focus, textarea:focus, a:focus {
  outline: none;
  box-shadow: 0 0 0 1px #222;
}

a {
  color: inherit;
  text-decoration: none;
}

input, textarea {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
}

.aria-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

/* Prevent clickjacking */
iframe {
  pointer-events: none;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #222222;
  -webkit-text-size-adjust: none;
}

/* Image and video responsive behavior */
img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Prevent user-select for sensitive areas */
.user-select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Prevent text selection to block copy-paste in some areas */
.no-select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Universal input handling to prevent form field security vulnerabilities */
input[type=password], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

/* Security best practice for preventing content injections */
[data-attr]:after {
  content: attr(data-attr);
  display: none;
}

@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/NotoSansKR-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/NotoSansKR-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/NotoSansKR-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/NotoSansKR-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/NotoSansKR-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/NotoSansKR-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/NotoSansKR-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/NotoSansKR-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/NotoSansKR-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Jamsil";
  src: url("../fonts/TheJamsil1Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Jamsil";
  src: url("../fonts/TheJamsil2Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Jamsil";
  src: url("../fonts/TheJamsil3Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Jamsil";
  src: url("../fonts/TheJamsil4Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Jamsil";
  src: url("../fonts/TheJamsil5Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Jamsil";
  src: url("../fonts/TheJamsil6ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(20%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slideUp02 {
  0% {
    transform: translate(-50%, 20%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
    visibility: visible;
  }
}
.svg-icon {
  display: inline-flex;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #fff;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: contain;
          mask-size: contain;
}
.svg-icon.left {
  margin-left: 0.5rem;
}
.svg-icon.right {
  margin-right: 0.5rem;
}
.svg-icon.ico-home {
  -webkit-mask-image: url(../images/icon/ico_home.svg);
          mask-image: url(../images/icon/ico_home.svg);
}
.svg-icon.ico-star {
  -webkit-mask-image: url(../images/icon/ico_star.svg);
          mask-image: url(../images/icon/ico_star.svg);
}
.svg-icon.ico-tel {
  -webkit-mask-image: url(../images/icon/ico_tel.svg);
          mask-image: url(../images/icon/ico_tel.svg);
}
.svg-icon.ico-menu {
  -webkit-mask-image: url(../images/icon/ico_menu.svg);
          mask-image: url(../images/icon/ico_menu.svg);
}
.svg-icon.ico-close {
  -webkit-mask-image: url(../images/icon/ico_close.svg);
          mask-image: url(../images/icon/ico_close.svg);
}
.svg-icon.ico-arrow {
  -webkit-mask-image: url(../images/icon/ico_arrow.svg);
          mask-image: url(../images/icon/ico_arrow.svg);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: auto;
  border-style: solid;
  border-width: 0.1rem;
  border-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.35s;
  color: #222;
  font-size: 1.6rem;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.accordion-container .accordion-tit {
  color: #333333;
  font-size: 2.6rem;
  text-align: center;
  letter-spacing: -0.05rem;
}
@media (max-width: 640px) {
  .accordion-container .accordion-tit {
    font-size: 1.8rem;
  }
}
.accordion-container .accordion-item {
  padding: 0 4rem;
  color: #333333;
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
  border: 1px solid #e5e5e5;
  border-radius: 2rem;
}
.accordion-container .accordion-item.open .accordion-menu {
  color: #58b1ed;
  transition: all 0.35s ease;
}
.accordion-container .accordion-item.open .accordion-menu > .svg-icon {
  background-color: #58b1ed;
  transform: translateY(-50%) rotate(180deg);
  transition: all 0.35s ease;
}
@media (max-width: 640px) {
  .accordion-container .accordion-item {
    padding: 0 2rem;
    font-size: 1.6rem;
  }
}
.accordion-container .accordion-menu {
  position: relative;
  padding: 4rem 0;
  padding-right: 4rem;
  transition: all 0.35s ease;
  cursor: pointer;
}
.accordion-container .accordion-menu > .svg-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  background-color: #333333;
  transition: all 0.35s ease;
}
@media (max-width: 640px) {
  .accordion-container .accordion-menu {
    padding: 2rem 0;
    padding-right: 2rem;
  }
  .accordion-container .accordion-menu .svg-icon {
    width: 1.6rem;
    height: 1.6rem;
  }
}
.accordion-container .accordion-cont {
  padding: 4rem 0;
  border-top: 1px solid #e5e5e5;
}
@media (max-width: 640px) {
  .accordion-container .accordion-cont {
    padding: 2rem 0;
  }
}
.accordion-container .accordion-img-wrap {
  height: 100%;
  position: relative;
}
.accordion-container .accordion-img-wrap .accordion-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.accordion-container .accordion-img-wrap .accordion-img .img-mo {
  display: none;
}
@media (max-width: 768px) {
  .accordion-container .accordion-img-wrap .accordion-img .img-mo {
    display: block;
  }
  .accordion-container .accordion-img-wrap .accordion-img .img-pc {
    display: none;
  }
}
.accordion-container .accordion-img-wrap .accordion-txt-wrap {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.accordion-container .accordion-img-wrap .accordion-txt-wrap .accordion-txt {
  padding: 4rem 4rem 6rem;
  margin-top: auto;
}
.accordion-container .accordion-img-wrap .accordion-txt-wrap .txt01 {
  padding: 0 2rem;
  color: #fff;
  font-size: 1.6rem;
  border: 1px solid #fff;
  border-radius: 2rem;
}
.accordion-container .accordion-img-wrap .accordion-txt-wrap .txt02 {
  margin-top: 2rem;
  color: #fff;
  font-size: 2.4rem;
}
.accordion-container .accordion-img-wrap .accordion-txt-wrap .txt03 {
  margin-top: 4rem;
  color: #fff;
  font-size: 3.4rem;
  font-weight: bold;
}
@media (max-width: 640px) {
  .accordion-container .accordion-img-wrap .accordion-txt-wrap .accordion-txt {
    padding: 0 2rem 2rem;
  }
  .accordion-container .accordion-img-wrap .accordion-txt-wrap .txt01 {
    padding: 0 1rem;
    font-size: 1.2rem;
  }
  .accordion-container .accordion-img-wrap .accordion-txt-wrap .txt02 {
    margin-top: 1rem;
    font-size: 1.6rem;
  }
  .accordion-container .accordion-img-wrap .accordion-txt-wrap .txt03 {
    margin-top: 1.5rem;
    font-size: 1.8rem;
  }
}
.accordion-container .accordion-info-wrap {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.accordion-container .accordion-info-wrap .accordion-info-item {
  display: flex;
  gap: 2rem 4rem;
}
.accordion-container .accordion-info-wrap .accordion-info-item.ch-order .info-img {
  order: 3;
}
@media (max-width: 768px) {
  .accordion-container .accordion-info-wrap .accordion-info-item {
    flex-direction: column;
  }
  .accordion-container .accordion-info-wrap .accordion-info-item .for-pc {
    display: none;
  }
}
.accordion-container .accordion-info-wrap .info-img {
  flex-shrink: 0;
  width: 29.17vw;
  height: 100%;
  overflow: hidden;
  order: 1;
}
@media (max-width: 768px) {
  .accordion-container .accordion-info-wrap .info-img {
    width: 100%;
  }
}
.accordion-container .accordion-info-wrap .info-img img {
  margin: 0 auto;
}
.accordion-container .accordion-info-wrap .info-cont {
  order: 2;
}
.accordion-container .accordion-info-wrap .info-cont .info-tit {
  color: #000000;
  font-size: 2rem;
  font-weight: 700;
}
.accordion-container .accordion-info-wrap .info-cont .info-txt {
  margin-top: 2rem;
  color: #333333;
  font-size: 1.6rem;
  font-weight: 300;
}
.accordion-container .accordion-info-wrap .info-cont .info-txt span {
  font-weight: 500;
}
.accordion-container.type02 .accordion-item {
  padding: 0;
  border: none;
  border-radius: initial;
}
.accordion-container.type02 .accordion-item .accordion-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4rem;
}
.accordion-container.type02 .accordion-item .accordion-btn::before {
  content: "펼쳐보기";
  color: #b0b0b0;
  text-underline-offset: 0.5rem;
  text-decoration: underline;
}
@media (max-width: 640px) {
  .accordion-container.type02 .accordion-item .accordion-btn {
    right: 1.5rem;
  }
  .accordion-container.type02 .accordion-item .accordion-btn::before {
    font-size: 1.2rem;
  }
}
.accordion-container.type02 .accordion-item.open .accordion-btn::before {
  content: "닫기 X";
}
.accordion-container.type02 .accordion-item.open .accordion-menu {
  color: initial;
}
.accordion-container.type02 .accordion-menu {
  padding: 4rem 1.5rem;
  padding-right: 12rem;
  border: 1px solid #e5e5e5;
  border-radius: 2rem;
}
@media (max-width: 640px) {
  .accordion-container.type02 .accordion-menu {
    padding: 2rem 1.5rem;
    padding-right: 6rem;
  }
}
.accordion-container.type02 .accordion-cont {
  padding: 4rem 0;
  border-top: none;
}
@media (max-width: 640px) {
  .accordion-container.type02 .accordion-cont {
    padding: 2rem 0;
  }
}

.tab-container .tab-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
}
.tab-container .tab-list.full {
  align-items: stretch;
  gap: 0;
}
.tab-container .tab-list.full li {
  flex: 1 1 0px;
}
.tab-container .tab-list.full .btn-tab {
  justify-content: center;
  width: 100%;
  padding: 1.5rem 0;
  border-radius: 2rem 2rem 0 0;
}
@media (max-width: 640px) {
  .tab-container .tab-list.full .btn-tab {
    padding: 1rem 0;
    font-size: 1.6rem;
  }
}
.tab-container .tab-list li {
  display: inline-flex;
  flex-grow: 0;
}
.tab-container .tab-list .btn-tab {
  display: inline-flex;
  color: #adadad;
  font-size: 2rem;
  cursor: pointer;
}
.tab-container .tab-list .btn-tab.active {
  background-color: #203d87;
  color: #fff;
}
.tab-container .tab-list .btn-tab .tab-ico {
  display: inline-flex;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-position: center;
}
.tab-container .tab-list .btn-tab .tab-ico.menu01 {
  background-image: url(../images/main/ico_tab_menu01.png);
  background-size: contain;
}
.tab-container .tab-list .btn-tab .tab-ico.menu02 {
  background-image: url(../images/main/ico_tab_menu02.png);
  background-size: contain;
}
@media (max-width: 640px) {
  .tab-container .tab-list .btn-tab .tab-ico {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.tab-container .tab-cont {
  display: none;
}
.tab-container .tab-cont.active {
  display: block;
}

html.loaded #header {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  animation: slideDown 1s ease forwards;
  animation-delay: 0.5s;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  letter-spacing: -0.01em;
  line-height: 1;
}
#header.fixed .header-wrapper {
  background-color: #fff;
  border-bottom-color: #e5e5e5;
  transition: all 0.35s ease;
}
#header.fixed .header-logo img.black {
  opacity: 1;
}
#header.fixed .gnb-1depth > a {
  color: #222;
}
#header.fixed .header-units button {
  color: #222;
}
#header.fixed .header-units button .svg-icon {
  background-color: #222;
}
#header.dark .header-wrapper {
  background-color: #fff;
}
#header.dark .header-logo img.black {
  opacity: 1;
}
#header.dark .gnb-1depth > a {
  color: #222;
}
#header.dark .header-units button {
  color: #222;
}
#header.dark .header-units button .svg-icon {
  background-color: #222;
}
#header.open #gnb {
  visibility: visible;
  transform: translate3d(0px, 0px, 0);
  z-index: 3;
}
#header.open #gnb .gnb-list-wrap {
  transition: all 0.35s ease;
  opacity: 1;
}
#header.open .header-units li.header-units-mobile .svg-icon {
  background-color: #222;
}
#header.open .header-units li.header-units-mobile .svg-icon.default {
  opacity: 0;
}
#header.open .header-units li.header-units-mobile .svg-icon.close {
  opacity: 1;
}
#header.open .gnb-list {
  flex-direction: column;
  margin-top: 7.2rem;
}
#header.open .gnb-list > li {
  border-bottom: 1px solid #e5e5e5;
}
#header.open .gnb-list > li::before {
  content: none;
}
#header.open .gnb-1depth {
  display: block;
  height: auto;
}
#header.open .gnb-1depth > a {
  display: block;
  padding: 2rem 4rem;
  color: #222;
  font-size: 2rem;
}
#header.open .gnb-2depth {
  position: static;
  text-align: left;
  padding: 0 6rem 2rem;
  opacity: 1;
  visibility: visible;
  box-shadow: none;
}
#header.open .gnb-2depth-list > li {
  display: block;
}
#header.open .gnb-2depth-list > li > a {
  display: block;
  padding: 1rem;
}
#header.open .gnb-2depth-list > li > a span::before {
  content: "-";
  margin-right: 1rem;
}
@media (max-width: 640px) {
  #header.open .gnb-1depth > a {
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
  }
  #header.open .gnb-2depth {
    padding: 0 3rem 1.5rem;
  }
}
#header .header-wrapper {
  height: 10.4rem;
  padding: 0 4rem;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transition: all 0.35s ease;
}
#header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
#header .header-logo {
  position: relative;
  z-index: 2;
  width: 36.4rem;
}
#header .header-logo img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
#header .header-logo img.white {
  position: static;
  transform: none;
  opacity: 1;
}
#header .header-units {
  display: flex;
  position: relative;
}
#header .header-units > li:not(:first-child) {
  margin-left: 1.6rem;
}
#header .header-units > li.header-units-mobile {
  display: none;
  z-index: 10;
}
#header .header-units button {
  color: #fff;
}
#header .gnb-list {
  display: flex;
}
#header .gnb-list > li {
  position: relative;
}
#header .gnb-list > li::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #f37321;
  transition: 350ms ease;
  transition-property: width, left;
}
#header .gnb-list > li:hover::before {
  width: 100%;
  left: 0;
}
#header .gnb-1depth {
  display: flex;
  align-items: center;
  height: 10.4rem;
  position: relative;
}
#header .gnb-1depth > a {
  padding: 0.5rem 4rem;
  white-space: nowrap;
  color: #fff;
  font-size: 2.4rem;
}
#header .gnb-1depth:hover ~ .gnb-2depth {
  opacity: 1;
  visibility: visible;
}
#header .gnb-2depth {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 2em 0;
  opacity: 0;
  visibility: hidden;
  isolation: isolate;
  transition: all 0.35s;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
#header .gnb-2depth-list > li {
  display: block;
}
#header .gnb-2depth-list > li > a {
  display: block;
  padding: 0.8rem;
  letter-spacing: -0.01em;
  color: #222222;
  font-size: 1.6rem;
}
#header .gnb-2depth-list > li > a span {
  background-image: linear-gradient(transparent calc(100% - 1px), #222222 1px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.35s;
}
#header .gnb-2depth-list > li > a:hover span {
  background-size: 100% 100%;
}
@media (max-width: 1380px) {
  #header .header-wrapper {
    padding: 0 2rem;
  }
  #header #gnb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #FFFFFF;
    box-sizing: border-box;
    visibility: hidden;
    transform: translate3d(100vw, 0px, 0);
    transition: all 0.35s ease;
  }
  #header #gnb .gnb-list-wrap {
    height: 100dvh;
    overflow-y: scroll;
    opacity: 0;
  }
  #header .header-units li {
    display: none;
  }
  #header .header-units li.header-units-mobile {
    display: block;
    margin-left: 0;
  }
  #header .header-units li.header-units-mobile .svg-icon {
    width: 3.4rem;
    height: 3.4rem;
    transition: all 0.35s ease;
  }
  #header .header-units li.header-units-mobile .svg-icon.close {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}
@media (max-width: 1024px) {
  #header .header-logo {
    width: 30rem;
  }
}
@media (max-width: 640px) {
  #header .header-wrapper {
    height: 7.2rem;
    padding: 0 1rem;
  }
  #header .header-logo {
    width: 18rem;
  }
}

.mt20 {
  margin-top: 2rem;
}

.mt40 {
  margin-top: 4rem;
}

.mt60 {
  margin-top: 6rem;
}

.container-lg {
  max-width: 122rem;
  padding: 0 1rem;
  margin: 0 auto;
}

html body.scroll-hide {
  overflow: hidden;
  height: 100%;
}

html.loaded #main .main-tit-box {
  opacity: 0;
  visibility: hidden;
  animation: slideUp 1s ease forwards;
  animation-delay: 0.5s;
}

html.loaded #main .main-menu-wrap {
  opacity: 0;
  visibility: hidden;
  animation: slideUp02 1s ease forwards;
  animation-delay: 0.7s;
}

#boomer {
  padding-top: 13rem;
}
#boomer .boomer-top .boomer-top-wrap {
  height: 100%;
  position: relative;
}
#boomer .boomer-top .boomer-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#boomer .boomer-top .boomer-img .img-mo {
  display: none;
}
#boomer .boomer-top .boomer-tit-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 2;
}
#boomer .boomer-top .boomer-tit {
  padding: 5rem 4rem;
}
#boomer .boomer-top .boomer-tit .tit {
  color: #333333;
  font-size: 3.2rem;
  font-weight: 900;
}
#boomer .boomer-top .boomer-tit .txt {
  margin-top: 3rem;
  color: #333333;
  font-size: 1.8rem;
  line-height: 1.8;
  letter-spacing: -0.05rem;
}
@media (max-width: 768px) {
  #boomer .boomer-top .boomer-img .img-pc {
    display: none;
  }
  #boomer .boomer-top .boomer-img .img-mo {
    display: block;
  }
}
@media (max-width: 420px) {
  #boomer .boomer-top .boomer-tit {
    padding: 2rem;
  }
  #boomer .boomer-top .boomer-tit .tit {
    font-size: 2rem;
  }
  #boomer .boomer-top .boomer-tit .txt {
    margin-top: 1rem;
    font-size: 1.4rem;
    line-height: 1.5;
  }
}
#boomer .boomer-info .info-list {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  margin-top: 6rem;
}
#boomer .boomer-info .info-list .info-list-item {
  display: flex;
}
#boomer .boomer-info .info-list .info-list-item .info-cont-img {
  border-radius: 2rem;
  overflow: hidden;
}
#boomer .boomer-info .info-list .info-tit {
  flex-shrink: 0;
  width: 20rem;
  color: #333333;
  font-size: 2rem;
  font-weight: 700;
}
#boomer .boomer-info .info-list .info-box {
  width: 100%;
}
#boomer .boomer-info .site-list-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
#boomer .boomer-info .site-list-wrap.type02 {
  gap: 2rem 1rem;
}
@media (max-width: 640px) {
  #boomer .boomer-info .site-list-wrap.type02 .site-item {
    flex: 1 1 40%;
  }
}
@media (max-width: 420px) {
  #boomer .boomer-info .site-list-wrap.type02 .site-item {
    flex: 100%;
  }
}
#boomer .boomer-info .site-list-wrap .site-item {
  flex: 1;
}
#boomer .boomer-info .site-list-wrap .site-item .list-type {
  padding: 0 0.5rem;
  margin-top: 1rem;
}
#boomer .boomer-info .site-list-wrap .site-item .list-type li {
  font-size: 1.6rem;
}
#boomer .boomer-info .site-list-wrap .site-logo {
  display: block;
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid #dddddd;
}
#boomer .boomer-info .site-list-wrap .site-logo picture {
  display: flex;
  align-items: center;
  height: 4.2rem;
}
#boomer .boomer-info .site-list-wrap .site-logo img {
  height: 100%;
  margin: 0 auto;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
#boomer .boomer-info .site-list-wrap .site-tit {
  margin-top: 1rem;
  color: #333333;
  font-size: 1.8rem;
  text-align: center;
}
@media (max-width: 768px) {
  #boomer .boomer-info .info-list {
    gap: 4rem;
  }
  #boomer .boomer-info .info-list .info-list-item {
    flex-direction: column;
    gap: 2rem;
  }
  #boomer .boomer-info .info-list .info-tit {
    display: inline-flex;
    gap: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
  }
  #boomer .boomer-info .info-list .info-tit::before {
    content: "○";
  }
  #boomer .boomer-info .info-list .list-type {
    padding-left: 1rem;
  }
}
@media (max-width: 640px) {
  #boomer .boomer-info .info-list {
    gap: 3rem;
    margin-top: 4rem;
  }
  #boomer .boomer-info .info-list .info-list-item {
    gap: 1rem;
  }
  #boomer .boomer-info .info-list .list-type {
    font-size: 1.6rem;
  }
}
@media (max-width: 420px) {
  #boomer .boomer-info .site-list-wrap {
    gap: 0.5rem;
  }
  #boomer .boomer-info .site-list-wrap .site-logo {
    padding: 1rem;
    border-radius: 0.5rem;
  }
  #boomer .boomer-info .site-list-wrap .site-logo picture {
    display: flex;
    align-items: center;
    height: 2.5rem;
  }
  #boomer .boomer-info .site-list-wrap .site-logo img {
    margin: 0 auto;
  }
  #boomer .boomer-info .site-list-wrap .site-tit {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
}
#boomer .list-type {
  margin-top: -0.2rem;
  color: #333333;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: -0.05rem;
  line-height: 1.6;
}
#boomer .list-type.type02 > li {
  padding-left: 2rem;
}
#boomer .list-type.type02 > li::after {
  content: "①";
  position: absolute;
  top: 0;
  left: 0;
}
#boomer .list-type.type02 > li::before {
  content: none;
}
#boomer .list-type.type02 > li:nth-child(2)::after {
  content: "②";
}
#boomer .list-type.type02 > li:nth-child(3)::after {
  content: "③";
}
#boomer .list-type.type02 > li:nth-child(4)::after {
  content: "④";
}
#boomer .list-type.type02 > li:nth-child(5)::after {
  content: "⑤";
}
#boomer .list-type.type02 > li.list-tip::after {
  content: "※";
}
#boomer .list-type > li {
  position: relative;
  padding-left: 1rem;
}
#boomer .list-type > li::before {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  top: 1.2rem;
  left: 0;
  background-color: #333333;
  border-radius: 50%;
}
#boomer .list-type > li li {
  font-weight: 300;
}
#boomer .boomer-footer {
  margin-top: 24rem;
  background-color: #203d87;
}
#boomer .boomer-footer .boomer-footer-tit {
  padding: 3rem 0;
  position: relative;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}
#boomer .boomer-footer .boomer-footer-tit::before {
  content: "";
  width: 26.4rem;
  height: 15.2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../images/main/boomer_footer.png) no-repeat;
  background-size: contain;
}
@media (max-width: 640px) {
  #boomer .boomer-footer {
    margin-top: 6rem;
  }
  #boomer .boomer-footer .boomer-footer-tit {
    padding: 1.5rem 0;
    font-size: 1.2rem;
  }
  #boomer .boomer-footer .boomer-footer-tit::before {
    width: 9rem;
    height: 5.2rem;
  }
}
@media (max-width: 640px) {
  #boomer {
    padding-top: 8rem;
  }
}

#footer {
  padding: 4rem 0 2rem;
  background-color: #373737;
}
#footer .footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
#footer .footer-logo {
  order: 2;
  flex-shrink: 0;
}
#footer .footer-logo-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#footer .footer-sns-list {
  display: flex;
  gap: 1rem;
}
#footer .footer-addr {
  margin-top: 3rem;
  line-height: 1.6;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
}
#footer .footer-addr ul {
  display: flex;
  flex-wrap: wrap;
}
#footer .footer-addr ul li:not(:last-child) {
  margin-right: 0.5rem;
}
#footer .footer-bottom {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #f7faff;
}
#footer .copyright {
  line-height: 1.3;
  color: #8c8c8c;
  font-size: 1.6rem;
}

@media (max-width: 768px) {
  #footer .footer-top {
    flex-direction: column;
  }
  #footer .footer-logo {
    order: 0;
  }
  #footer .copyright {
    text-align: center;
  }
  #footer .footer-util {
    display: flex;
    flex-direction: column;
  }
  #footer .footer-sns {
    order: 2;
    margin-top: 2rem;
  }
}
@media (max-width: 640px) {
  #footer .footer-logo-list {
    width: 20rem;
  }
  #footer .footer-sns {
    display: flex;
    justify-content: center;
  }
  #footer .footer-sns-list img {
    width: 2.4rem;
  }
  #footer .footer-addr {
    margin-top: 2rem;
    font-size: 1.4rem;
  }
  #footer .copyright {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=boomer.css.map */